<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#131313" />
  <title>TECHチャット</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
  <script defer src="./socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>

<body>
  <nav class="flex justify-center items-center h-20 bg-green-300">
    <h1 class="text-5xl">TECHチャット</h1>
  </nav>
  <main class="flex justify-center w-full mt-20" id="room-container">
    <form action="/user" method="post">
      <input class="block h-10 text-gray-900 text-center" name="username" type="text" placeholder="ユーザー名"
        autocomplete="off" required />
      <input class="block h-10 mt-6 text-gray-900 text-center" name="password" type="password" placeholder="パスワード"
        autocomplete="off" required />
      <button type="sumbit" class="block w-full py-2 mt-10 font-semibold bg-rose-600 rounded">
        ログイン
      </button>
    </form>
  </main>
</body>

</html>