@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --rose-600: #e11d48;
}

.bg-rose-600 {
  background-color: var(--rose-600);
}
.border-rose-600 {
  border-color: var(--rose-600);
}

body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  font-size: 1.2rem;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
}

nav {
  font-family: 'Ubuntu', sans-serif;
}

#message-container span {
  display: inline-block;
  background-color: rgb(105, 105, 105);
  color: white;
  padding: 10px 20px;
  border: 2px solid rgb(92, 92, 92);
  border-radius: 10px;
  margin: 10px;
}

#send-container {
  left: 10%;
  width: 80%;
}

#message-input {
  border-radius: 50px 0 0 50px;
}

#message-input:focus {
  border-color: #e36681;
}
#send-btn {
  flex-shrink: 5;
  border-radius: 0 50px 50px 0;
}
